
.half-chevron-down-left {
  transform: skewY(45deg);
}

.half-chevron-down-right {
  transform: skewY(135deg);
}

.half-chevron-up-left {
  transform: skewY(315deg);
}

.half-chevron-up-right {
  transform: skewY(225deg);
}

.triangle-left {
  transform: skewX(225deg);
}

.triangle-right {
  transform: skewX(315deg);
}
