@font-face {
  font-family: 'Alegreya Sans';
	src: url('https://fonts.gstatic.com/s/alegreyasans/v24/5aUz9_-1phKLFgshYDvh6Vwt7VptvQ.woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
  font-family: 'Poiret One';
	src: url('https://fonts.gstatic.com/s/poiretone/v14/UqyVK80NJXN4zfRgbdfbo55cVw.woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
  font-family: 'Aboreto';
  src: url('https://fonts.gstatic.com/s/aboreto/v2/5DCXAKLhwDDQ4N8bpKPUAg.woff2');
  font-style: normal;
  font-weight: normal;
}

h1, h2 {
  font-family: 'Poiret One';
  text-align: center;
}

p {
  font-family: 'Alegreya Sans';
  flex-basis: 420px;
  line-height: 1.5;
  font-size: 20px;
}


.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.steelblue {
  background-color: steelblue;
}

.slategrey {
  background-color: slategrey;
}

.dimgrey {
  background-color: dimgrey;
}

.grey {
  background-color: lightslategrey;
}

.lightgrey {
  background-color: lightgrey;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
