#app {
  background-color: dimgrey;
  width: 1180px;
  padding: 16.66px 0 16.66px 0;
  position: relative;
  z-index: 10;
}

.tile {
  margin: 1.33px;
}

.triptych-pane {
  flex-basis: 360px;
  height: 1200px;
  background-color: black;
}

.triptych-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:repeat(48,02.0833333%);
  grid-template-rows: repeat(160,00.625%);
}

.top-grid-left-top-tile-l,
.top-grid-left-top-tile-r,
.top-grid-top-tile-l,
.top-grid-top-tile-r {
  grid-row-start: 1;
  grid-row-end: 3;
}

.top-grid-left-mid-tile-l,
.top-grid-left-mid-tile-r,
.top-grid-mid-tile-l,
.top-grid-mid-tile-r {
  grid-row-start: 3;
  grid-row-end: 5;
}

.top-grid-left-top-tile-l {
  grid-column-start: 1;
  grid-column-end: 27;
}

.top-grid-left-top-tile-r {
  grid-column-start: 27;
  grid-column-end: 49;
}

.top-grid-top-tile-l {
  grid-column-start: 1;
  grid-column-end: 25;
}

.top-grid-top-tile-r {
  grid-column-start: 25;
  grid-column-end: 49;
}

.top-grid-side-tile-l,
.top-grid-side-tile-r {
  grid-row-start: 3;
  grid-row-end: 7;
}

.top-grid-side-tile-l {
  grid-column-start: 1;
  grid-column-end: 3;
}

.top-grid-side-tile-r {
  grid-column-start: 47;
  grid-column-end: 49;
}

.top-grid-left-mid-tile-l {
  grid-column-start: 3;
  grid-column-end: 27;
}

.top-grid-left-mid-tile-r {
  grid-column-start: 27;
  grid-column-end: 47;
}

.top-grid-mid-tile-l {
  grid-column-start: 3;
  grid-column-end: 25;
}

.top-grid-mid-tile-r {
  grid-column-start: 25;
  grid-column-end: 47;
}

.top-grid-bottom-grid {
  display: grid;
  grid-template-columns:repeat(22,04.5454545%);
  grid-template-rows: 50% 50%;
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 47;
}

.top-grid-bottom-grid-two-row {
  grid-row-start: 1;
  grid-row-end: 3;
}

.top-grid-bottom-grid-one-row-top {
  grid-row-start: 1;
  grid-row-end: 2;
}

.top-grid-bottom-grid-one-row-bottom {
  grid-row-start: 2;
  grid-row-end: 3;
}

#l--1-3--7-16 {
  display: grid;
  grid-row-start: 7;
  grid-row-end: 16;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--3-11--7-16 {
  display: grid;
  grid-row-start: 7;
  grid-row-end: 16;
  grid-column-start: 3;
  grid-column-end: 11;
}

#l--11-25--7-16 {
  display: grid;
  grid-row-start: 7;
  grid-row-end: 16;
  grid-column-start: 11;
  grid-column-end: 25;
}

#l--vertical-band--25-27--7-37 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(15,06.6666667%);
  grid-row-start: 7;
  grid-row-end: 37;
  grid-column-start: 25;
  grid-column-end: 27;
}

#l--27-37--7-13 {
  display: grid;
  grid-row-start: 7;
  grid-row-end: 13;
  grid-column-start: 27;
  grid-column-end: 37;
}

#l--27-36--13-17 {
  display: grid;
  grid-row-start: 13;
  grid-row-end: 17;
  grid-column-start: 27;
  grid-column-end: 36;
}

#l--37-43--7-10 {
  display: grid;
  grid-row-start: 7;
  grid-row-end: 10;
  grid-column-start: 37;
  grid-column-end: 43;
}

#l--37-43--10-13 {
  display: grid;
  grid-row-start: 10;
  grid-row-end: 13;
  grid-column-start: 37;
  grid-column-end: 43;
}

#l--43-47--7-13 {
  display: grid;
  grid-row-start: 7;
  grid-row-end: 13;
  grid-column-start: 43;
  grid-column-end: 47;
}

#l--47-49--7-13 {
  display: grid;
  grid-row-start: 7;
  grid-row-end: 13;
  grid-column-start: 47;
  grid-column-end: 49;
}

#l--36-43--13-15 {
  display: grid;
  grid-row-start: 13;
  grid-row-end: 15;
  grid-column-start: 36;
  grid-column-end: 43;
}

#l--27-36--17-27 {
  display: grid;
  grid-row-start: 17;
  grid-row-end: 27;
  grid-column-start: 27;
  grid-column-end: 36;
}

#l--36-43--15-25 {
  display: grid;
  grid-row-start: 15;
  grid-row-end: 25;
  grid-column-start: 36;
  grid-column-end: 43;
}

#l--red-checkerboard--43-49--13-25 {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: repeat(6,16,6666667%);
  grid-row-start: 13;
  grid-row-end: 25;
  grid-column-start: 43;
  grid-column-end: 49;
}

#l--1-3--16-41 {
  display: grid;
  grid-row-start: 16;
  grid-row-end: 41;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--3-7--16-39 {
  display: grid;
  grid-row-start: 16;
  grid-row-end: 39;
  grid-column-start: 3;
  grid-column-end: 7;
}

#l--7-9--16-18 {
  display: grid;
  grid-row-start: 16;
  grid-row-end: 18;
  grid-column-start: 7;
  grid-column-end: 9;
}

#l--7-9--18-39 {
  display: grid;
  grid-row-start: 18;
  grid-row-end: 39;
  grid-column-start: 7;
  grid-column-end: 9;
}

#l--9-11--16-21 {
  display: grid;
  grid-row-start: 16;
  grid-row-end: 21;
  grid-column-start: 9;
  grid-column-end: 11;
}

#l--9-11--21-23 {
  display: grid;
  grid-row-start: 21;
  grid-row-end: 23;
  grid-column-start: 9;
  grid-column-end: 11;
}

#l--9-11--23-25 {
  display: grid;
  grid-row-start: 23;
  grid-row-end: 25;
  grid-column-start: 9;
  grid-column-end: 11;
}

#l--9-11--25-27 {
  display: grid;
  grid-row-start: 25;
  grid-row-end: 27;
  grid-column-start: 9;
  grid-column-end: 11;
}

#l--9-11--27-39 {
  display: grid;
  grid-row-start: 27;
  grid-row-end: 39;
  grid-column-start: 9;
  grid-column-end: 11;
}

#l--3-5--39-41 {
  display: grid;
  grid-row-start: 39;
  grid-row-end: 41;
  grid-column-start: 3;
  grid-column-end: 5;
}

#l--5-7--39-41 {
  display: grid;
  grid-row-start: 39;
  grid-row-end: 41;
  grid-column-start: 5;
  grid-column-end: 7;
}

#l--7-9--39-41 {
  display: grid;
  grid-row-start: 39;
  grid-row-end: 41;
  grid-column-start: 7;
  grid-column-end: 9;
}

#l--9-11--39-41 {
  display: grid;
  grid-row-start: 39;
  grid-row-end: 41;
  grid-column-start: 9;
  grid-column-end: 11;
}

#l--11-20--16-25 {
  display: grid;
  grid-row-start: 16;
  grid-row-end: 25;
  grid-column-start: 11;
  grid-column-end: 20;
}

#l--11-20--25-27 {
  display: grid;
  grid-row-start: 25;
  grid-row-end: 27;
  grid-column-start: 11;
  grid-column-end: 20;
}

#l--11-20--27-29 {
  display: grid;
  grid-row-start: 27;
  grid-row-end: 29;
  grid-column-start: 11;
  grid-column-end: 20;
}

#l--11-18--29-35 {
  display: grid;
  grid-row-start: 29;
  grid-row-end: 35;
  grid-column-start: 11;
  grid-column-end: 18;
}

#l--11-18--35-41 {
  display: grid;
  grid-row-start: 35;
  grid-row-end: 41;
  grid-column-start: 11;
  grid-column-end: 18;
}

#l--18-20--29-39 {
  display: grid;
  grid-row-start: 29;
  grid-row-end: 39;
  grid-column-start: 18;
  grid-column-end: 20;
}

#l--20-25--16-17 {
  display: grid;
  grid-row-start: 16;
  grid-row-end: 17;
  grid-column-start: 20;
  grid-column-end: 25;
}

#l--20-25--17-27 {
  display: grid;
  grid-row-start: 17;
  grid-row-end: 27;
  grid-column-start: 20;
  grid-column-end: 25;
}

#l--20-25--27-29 {
  display: grid;
  grid-row-start: 27;
  grid-row-end: 29;
  grid-column-start: 20;
  grid-column-end: 25;
}

#l--20-25--29-31 {
  display: grid;
  grid-row-start: 29;
  grid-row-end: 31;
  grid-column-start: 20;
  grid-column-end: 25;
}

#l--20-25--31-39 {
  display: grid;
  grid-row-start: 31;
  grid-row-end: 39;
  grid-column-start: 20;
  grid-column-end: 25;
}

#l--1-3--41-43 {
  display: grid;
  grid-row-start: 41;
  grid-row-end: 43;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--3-5--41-43 {
  display: grid;
  grid-row-start: 41;
  grid-row-end: 43;
  grid-column-start: 3;
  grid-column-end: 5;
}

#l--5-7--41-43 {
  display: grid;
  grid-row-start: 41;
  grid-row-end: 43;
  grid-column-start: 5;
  grid-column-end: 7;
}

#l--7-18--41-43 {
  display: grid;
  grid-row-start: 41;
  grid-row-end: 43;
  grid-column-start: 7;
  grid-column-end: 18;
}

#l--18-25--39-43 {
  display: grid;
  grid-row-start: 39;
  grid-row-end: 43;
  grid-column-start: 18;
  grid-column-end: 25;
}

#l--black-checkerboard--25-33--37-47 {
  display: grid;
  grid-template-columns: repeat(4,25%);
  grid-template-rows: repeat(5,20%);
  grid-row-start: 37;
  grid-row-end: 47;
  grid-column-start: 25;
  grid-column-end: 33;
}

#l--27-34--27-31 {
  grid-row-start: 27;
  grid-row-end: 31;
  grid-column-start: 27;
  grid-column-end: 34;
}

#l--27-34--31-37 {
  grid-row-start: 31;
  grid-row-end: 37;
  grid-column-start: 27;
  grid-column-end: 34;
}

#l--34-36--27-35 {
  grid-row-start: 27;
  grid-row-end: 35;
  grid-column-start: 34;
  grid-column-end: 36;
}

#l--36-43--25-26 {
  grid-row-start: 25;
  grid-row-end: 26;
  grid-column-start: 36;
  grid-column-end: 43;
}

#l--36-43--26-35 {
  grid-row-start: 26;
  grid-row-end: 35;
  grid-column-start: 36;
  grid-column-end: 43;
}

#l--43-47--25-35 {
  grid-row-start: 25;
  grid-row-end: 35;
  grid-column-start: 43;
  grid-column-end: 47;
}

#l--47-49--25-27 {
  grid-row-start: 25;
  grid-row-end: 27;
  grid-column-start: 47;
  grid-column-end: 49;
}

#l--47-49--27-29 {
  grid-row-start: 27;
  grid-row-end: 29;
  grid-column-start: 47;
  grid-column-end: 49;
}

#l--47-49--29-35 {
  grid-row-start: 29;
  grid-row-end: 35;
  grid-column-start: 47;
  grid-column-end: 49;
}

#l--34-35--35-37 {
  grid-row-start: 35;
  grid-row-end: 37;
  grid-column-start: 34;
  grid-column-end: 35;
}

#l--horizontal-band--35-49--35-37 {
  display: grid;
  grid-template-columns: repeat(7,14.2857143%);
  grid-template-rows: 100%;
  grid-row-start: 35;
  grid-row-end: 37;
  grid-column-start: 35;
  grid-column-end: 49;
}

#l--33-34--37-47 {
  grid-row-start: 37;
  grid-row-end: 47;
  grid-column-start: 33;
  grid-column-end: 34;
}

#l--34-36--37-47 {
  grid-row-start: 37;
  grid-row-end: 47;
  grid-column-start: 34;
  grid-column-end: 36;
}

#l--36-43--37-39 {
  grid-row-start: 37;
  grid-row-end: 39;
  grid-column-start: 36;
  grid-column-end: 43;
}

#l--43-47--37-39 {
  grid-row-start: 37;
  grid-row-end: 39;
  grid-column-start: 43;
  grid-column-end: 47;
}

#l--47-49--37-39 {
  grid-row-start: 37;
  grid-row-end: 39;
  grid-column-start: 47;
  grid-column-end: 49;
}

#l--36-43--39-43 {
  grid-row-start: 39;
  grid-row-end: 43;
  grid-column-start: 36;
  grid-column-end: 43;
}

#l--43-47--39-43 {
  grid-row-start: 39;
  grid-row-end: 43;
  grid-column-start: 43;
  grid-column-end: 47;
}

#l--47-49--39-41 {
  grid-row-start: 39;
  grid-row-end: 41;
  grid-column-start: 47;
  grid-column-end: 49;
}

#l--36-37--43-44 {
  grid-row-start: 43;
  grid-row-end: 44;
  grid-column-start: 36;
  grid-column-end: 37;
}

#l--37-43--43-44 {
  grid-row-start: 43;
  grid-row-end: 44;
  grid-column-start: 37;
  grid-column-end: 43;
}

#l--43-47--43-44 {
  grid-row-start: 43;
  grid-row-end: 44;
  grid-column-start: 43;
  grid-column-end: 47;
}

#l--36-47--44-47 {
  grid-row-start: 44;
  grid-row-end: 47;
  grid-column-start: 36;
  grid-column-end: 47;
}

#l--47-49--41-47 {
  grid-row-start: 41;
  grid-row-end: 47;
  grid-column-start: 47;
  grid-column-end: 49;
}

#l--1-3--43-45 {
  grid-row-start: 43;
  grid-row-end: 45;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--20-23--43-47 {
  grid-row-start: 43;
  grid-row-end: 47;
  grid-column-start: 20;
  grid-column-end: 23;
}

#l--23-25--43-45 {
  grid-row-start: 43;
  grid-row-end: 45;
  grid-column-start: 23;
  grid-column-end: 25;
}

#l--23-25--45-47 {
  grid-row-start: 45;
  grid-row-end: 47;
  grid-column-start: 23;
  grid-column-end: 25;
}

#l--34-36--47-49 {
  grid-row-start: 47;
  grid-row-end: 49;
  grid-column-start: 34;
  grid-column-end: 36;
}

#l--1-3--45-65 {
  grid-row-start: 45;
  grid-row-end: 65;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--1-3--65-67 {
  grid-row-start: 65;
  grid-row-end: 67;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--1-3--67-69 {
  grid-row-start: 67;
  grid-row-end: 69;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--1-3--69-95 {
  grid-row-start: 69;
  grid-row-end: 95;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--1-3--95-127 {
  grid-row-start: 95;
  grid-row-end: 127;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--1-3--127-129 {
  grid-row-start: 127;
  grid-row-end: 129;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--1-3--129-149 {
  grid-row-start: 129;
  grid-row-end: 149;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--3-7--43-95 {
  grid-row-start: 43;
  grid-row-end: 95;
  grid-column-start: 3;
  grid-column-end: 7;
}

#l--3-7--95-149 {
  grid-row-start: 95;
  grid-row-end: 149;
  grid-column-start: 3;
  grid-column-end: 7;
}

#l--7-18--43-149 {
  grid-row-start: 43;
  grid-row-end: 149;
  grid-column-start: 7;
  grid-column-end: 18;
}

#l--18-20--43-61 {
  grid-row-start: 43;
  grid-row-end: 61;
  grid-column-start: 18;
  grid-column-end: 20;
}

#l--18-20--61-63 {
  grid-row-start: 61;
  grid-row-end: 63;
  grid-column-start: 18;
  grid-column-end: 20;
}

#l--18-20--63-93 {
  grid-row-start: 63;
  grid-row-end: 93;
  grid-column-start: 18;
  grid-column-end: 20;
}

#l--18-20--93-95 {
  grid-row-start: 93;
  grid-row-end: 95;
  grid-column-start: 18;
  grid-column-end: 20;
}

#l--18-20--95-129 {
  grid-row-start: 95;
  grid-row-end: 129;
  grid-column-start: 18;
  grid-column-end: 20;
}

#l--18-20--129-139 {
  grid-row-start: 129;
  grid-row-end: 139;
  grid-column-start: 18;
  grid-column-end: 20;
}

#l--18-20--139-149 {
  grid-row-start: 139;
  grid-row-end: 149;
  grid-column-start: 18;
  grid-column-end: 20;
}

#l--20-27--47-139 {
  grid-row-start: 47;
  grid-row-end: 139;
  grid-column-start: 20;
  grid-column-end: 27;
}

#l--27-34--47-139 {
  grid-row-start: 47;
  grid-row-end: 139;
  grid-column-start: 27;
  grid-column-end: 34;
}

#l--34-36--49-95 {
  grid-row-start: 49;
  grid-row-end: 95;
  grid-column-start: 34;
  grid-column-end: 36;
}

#l--34-36--95-129 {
  grid-row-start: 95;
  grid-row-end: 129;
  grid-column-start: 34;
  grid-column-end: 36;
}

#l--34-36--129-139 {
  grid-row-start: 129;
  grid-row-end: 139;
  grid-column-start: 34;
  grid-column-end: 36;
}

#l--34-36--139-149 {
  grid-row-start: 139;
  grid-row-end: 149;
  grid-column-start: 34;
  grid-column-end: 36;
}

#l--36-47--47-149 {
  grid-row-start: 47;
  grid-row-end: 149;
  grid-column-start: 36;
  grid-column-end: 47;
}

#l--47-49--47-59 {
  grid-row-start: 47;
  grid-row-end: 59;
  grid-column-start: 47;
  grid-column-end: 49;
}

#l--47-49--59-61 {
  grid-row-start: 59;
  grid-row-end: 61;
  grid-column-start: 47;
  grid-column-end: 49;
}

#l--47-49--61-95 {
  grid-row-start: 61;
  grid-row-end: 95;
  grid-column-start: 47;
  grid-column-end: 49;
}

#l--47-49--95-129 {
  grid-row-start: 95;
  grid-row-end: 129;
  grid-column-start: 47;
  grid-column-end: 49;
}

#l--47-49--129-149 {
  grid-row-start: 129;
  grid-row-end: 149;
  grid-column-start: 47;
  grid-column-end: 49;
}

#l--1-3--149-151 {
  grid-row-start: 149;
  grid-row-end: 151;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--1-3--151-153 {
  grid-row-start: 151;
  grid-row-end: 153;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--1-3--153-155 {
  grid-row-start: 153;
  grid-row-end: 155;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--3-7--149-151 {
  grid-row-start: 149;
  grid-row-end: 151;
  grid-column-start: 3;
  grid-column-end: 7;
}

#l--3-5--151-153 {
  grid-row-start: 151;
  grid-row-end: 153;
  grid-column-start: 3;
  grid-column-end: 5;
}

#l--5-7--151-153 {
  grid-row-start: 151;
  grid-row-end: 153;
  grid-column-start: 5;
  grid-column-end: 7;
}

#l--7-18--149-153 {
  grid-row-start: 149;
  grid-row-end: 153;
  grid-column-start: 7;
  grid-column-end: 18;
}

#l--18-20--149-151 {
  grid-row-start: 149;
  grid-row-end: 151;
  grid-column-start: 18;
  grid-column-end: 20;
}

#l--18-20--151-153 {
  grid-row-start: 151;
  grid-row-end: 153;
  grid-column-start: 18;
  grid-column-end: 20;
}

#l--34-36--149-151 {
  grid-row-start: 149;
  grid-row-end: 151;
  grid-column-start: 34;
  grid-column-end: 36;
}

#l--34-36--151-153 {
  grid-row-start: 151;
  grid-row-end: 153;
  grid-column-start: 34;
  grid-column-end: 36;
}

#l--36-38--149-151 {
  grid-row-start: 149;
  grid-row-end: 151;
  grid-column-start: 36;
  grid-column-end: 38;
}

#l--38-47--149-151 {
  grid-row-start: 149;
  grid-row-end: 151;
  grid-column-start: 38;
  grid-column-end: 47;
}

#l--36-47--151-153 {
  grid-row-start: 151;
  grid-row-end: 153;
  grid-column-start: 36;
  grid-column-end: 47;
}

#l--47-49--149-153 {
  grid-row-start: 149;
  grid-row-end: 153;
  grid-column-start: 47;
  grid-column-end: 49;
}

#l--1-3--153-155 {
  grid-row-start: 153;
  grid-row-end: 155;
  grid-column-start: 1;
  grid-column-end: 3;
}

#l--3-26--153-155 {
  grid-row-start: 153;
  grid-row-end: 155;
  grid-column-start: 3;
  grid-column-end: 26;
}

#l--26-28--153-155 {
  grid-row-start: 153;
  grid-row-end: 155;
  grid-column-start: 26;
  grid-column-end: 28;
}

#l--28-47--153-155 {
  grid-row-start: 153;
  grid-row-end: 155;
  grid-column-start: 28;
  grid-column-end: 47;
}

#l--47-49--153-155 {
  grid-row-start: 153;
  grid-row-end: 155;
  grid-column-start: 47;
  grid-column-end: 49;
}

#l--20-34--139-153 {
  grid-row-start: 139;
  grid-row-end: 153;
  grid-column-start: 20;
  grid-column-end: 34;
}

#l--1-49--155-161 {
  grid-row-start: 155;
  grid-row-end: 161;
  grid-column-start: 1;
  grid-column-end: 49;
}
