#app {
  padding: 0.33rem;
  background-color: dimgrey;
  border: 1rem solid lightgrey;
  width: 420px;
  position: relative;
  z-index: 10;
}

.base {
  width: 100%;
}

.tile {
  margin: 0.18rem;
}

.overlay-tile {
  position: absolute;
  border: 0.32rem solid dimgrey;
  z-index: 100;
}

.overlay-mask-tile {
  position: absolute;
  z-index: 200;
}

.round-tile {
  border-radius: 100%;
}

.columns-wrapper {
  width: 100%;
}

.left-top-column-wrapper {
  width: 54.5454545%;
  height: 100%;
}

.right-top-column-wrapper {
  width: 45.4545455%;
  height: 100%;
}

.left-lower-column-wrapper {
  width: 63.63%;
  height: 100%;
}

.right-lower-column-wrapper {
  width: 36.36%;
  height: 100%;
}


#top-twin-columns-wrapper {
  height: 23.86rem;
  width: 100%;
}

#mid-twin-columns-wrapper {
  height: 90.6933rem;
  width: 100%;
}

#bottom-twin-columns-wrapper {
  height: 7.16rem;
  width: 100%;
}

#top-eleven-by-three-grid-box {
  display: grid;
  grid-template-columns: 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  height: 7.16rem;
}

#eleven-by-three-grid-box--five-elevenths-start {
  grid-column-start: 1;
  grid-column-end: 6;
  display: grid;
}

#eleven-by-three-grid-box--four-elevenths-end {
  grid-column-start: 8;
  grid-column-end: 12;
  display: grid;
}

#eleven-by-three-grid-box--three-elevenths-start {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
}

#eleven-by-three-grid-box--two-elevenths-mid {
  grid-column-start: 6;
  grid-column-end: 8;
  display: grid;
}

#eleven-by-three-grid-box--three-elevenths-end {
  grid-column-start: 9;
  grid-column-end: 12;
  display: grid;
}

#top-left-column--box-column {
  display: grid;
  grid-template-columns: 16.67% 50% 33.33%;
  grid-template-rows: 20% 80%;
  height: 23.86rem;
}

#box-column--one-elevenths-bottom {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 12.5% 37.5%;
  height: 100%;
}


#top-left-column--tall-empty {
  height: 99.6%;
}

#top-right-column--grid-column {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  height: 23.86rem;
}

#grid-column--top-two-tenths {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
}

#grid-column--mid-three-tenths--column-1 {
  grid-row-start: 2;
  grid-row-end: 5;
  display: grid;
}

 #grid-column--mid-one-tenths--column-2--row-3 {
   grid-row-start: 3;
   grid-row-end: 4;
   grid-column-start: 2;
   grid-column-end: 3;
   display: grid;
 }

 #grid-column--mid-five-tenths--column-3,#grid-column--mid-five-tenths--column-4 {
   grid-row-start: 2;
   grid-row-end: 7;
   display: grid;
 }

 #grid-column--mid-one-tenths--column-1--row-5 {
   grid-row-start: 5;
   grid-row-end: 6;
   grid-column-start: 1;
   grid-column-end: 2;
   display: grid;
 }

 #grid-column--mid-one-tenths--column-2--row-4 {
   grid-row-start: 4;
   grid-row-end: 5;
   grid-column-start: 2;
   grid-column-end: 3;
   display: grid;
 }

 #grid-column--mid-three-tenths--column-5--row-3 {
   grid-row-start: 3;
   grid-row-end: 6;
   grid-column-start: 5;
   grid-column-end: 6;
   display: grid;
 }

 #grid-column--mid-one-tenths--column-1--row-6 {
   grid-row-start: 6;
   grid-row-end: 7;
   grid-column-start: 1;
   grid-column-end: 2;
   display: grid;
 }

 #grid-column--mid-one-tenths--column-2--row-5 {
   grid-row-start: 5;
   grid-row-end: 6;
   grid-column-start: 2;
   grid-column-end: 3;
   display: grid;
 }

 #grid-column--mid-one-tenths--column-5--row-6 {
   grid-row-start: 6;
   grid-row-end: 7;
   grid-column-start: 5;
   grid-column-end: 6;
   display: grid;
 }

 #grid-column--mid-four-tenths--column-1--row-7 {
   grid-row-start: 7;
   grid-row-end: 11;
   grid-column-start: 1;
   grid-column-end: 2;
   display: grid;
 }

 #grid-column--mid-one-tenths--column-2--row-6 {
   grid-row-start: 6;
   grid-row-end: 7;
   grid-column-start: 2;
   grid-column-end: 3;
   display: grid;
 }

 #grid-column--mid-one-tenths--column-5--row-6 {
   grid-row-start: 6;
   grid-row-end: 7;
   grid-column-start: 5;
   grid-column-end: 6;
   display: grid;
 }


 #mid-right-column--tall-grid-column {
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 5.263% 10.526% 52.632% 7.895% 23.684%;
   height: 100%;
 }

 #tall-grid-column--short-empty {

 }

 #tall-grid-column--tall-empty {
   margin-top:0.2rem;
 }

#tall-grid-column--split-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

#tall-grid-column--split-grid--subgrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  height: 100%
}

#tall-grid-column--one-three-split {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
}

#tall-grid-column--one-three-split--subgrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 5% 5% 15% 5% 65%;
  height: 100%;
}

#tall-grid-column--flag {

}

#bottom-left-column--short-box-column {
  display: grid;
  grid-template-columns: 57.14% 28.57% 14.29%;
  grid-template-rows: 100%;
  height: 100%;
}

#bottom-right-column--short-grid-column {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  height: 100%;
}

#short-grid-column--three-elevenths-one-tenths {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
}

#short-grid-column--one-elevenths-two-tenths {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 1;
  display: grid;
}

#short-grid-column--three-elevenths-three-tenths {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
}

#top-left-semi-circle {
  top: 5.05rem;
  left: -7.16rem;
  height: 14.32rem;
  width: 14.32rem;
}

#top-left-semi-circle-border-mask {
  top: 5.05rem;
  left: -1rem;
  height: 15rem;
  width: 1rem;
  border-right: 0.5rem solid dimgrey;
}

#top-left-semi-circle-overflow-mask {
  top: 5.05rem;
  left: -8.15rem;
  height: 15rem;
  width: 7.16rem;
}

#top-right-small-circle {
  top: 16.05rem;
  right: 2rem;
  height: 6.98rem;
  width: 6.98rem;
}

#middle-large-circle {
  top: 24.33rem;
  right: 2.3rem;
  height: 14.32rem;
  width: 14.32rem;
}

#bottom-large-circle {
  bottom: 1.9rem;
  right: 4.2rem;
  height: 13.32rem;
  width: 13.32rem;
}
